@charset "utf-8";

html[data-theme='light'] {
  --bg: #fff;
  --headings: #000000;
  --text: #1B2431;
  --link: #116466;
}

html[data-theme='dark'] {
  --bg: #191d24;
  --headings: #f2a365;
  --text: #ececec;
  --link: #30475e;
}


h1, h2, h3, h4, h5, h6 {
    color: var(--headings);
}

p, strong, b, em, span, code, small {
    color: var(--text);
}


body {
    margin: 0;
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: var(--text);
    background-color: var(--bg);
}
p {
    text-align: justify;
    word-break: break-word;
}
a {
    color: var(--link);
    text-decoration: none;
    cursor:pointer;
    &:hover {
        text-decoration: underline;
    }
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    word-break: break-word;

}
blockquote {
    font-style: italic;
    padding-left: 1rem;
    border-left: 3px solid $border-color;
}
img {
    max-width: 100%;
}
table {
    border-collapse: separate;
    border-spacing: 0;
    max-width: 100%;
    width: 100%;
}
th,
td {
    padding: 0.5rem;
    line-height: inherit;
}
th {
    text-align: left;
    vertical-align: bottom;
    border-bottom: 2px solid $border-color;
}
td {
    vertical-align: top;
    border-bottom: 1px solid $border-color;
}
pre {
    padding: 1.25rem;
    overflow-x: auto;
}
code {
    font-family: 'Courier New',Consolas,monopace;
    tab-size: 4;
}
hr {
    border: none;
    border-top: 2px solid $border-color;
}

/* LAYOUT*/


main {
    max-width: 48rem;
    margin: 0 auto 3rem;
    padding: 0 2rem;
    padding-top: 2rem;
}
.site-header {
    .site-title {
        font-weight: 300;
        > a {
            color: var(--headings);
            text-decoration: none;
        }
    }
    .site-nav {
        > a {
            color: var(--meta);
            &:hover {
                text-decoration: none;
            }
            &.active {
                border-bottom: 2px solid #666;
            }
            + a {
                margin-left: 1rem;
            }
        }
    }
}
.posts {
    list-style: none;
    padding: 0;
    > li {
        line-height: 1.75;
        span {
            color: var(--text);
            margin-right: 1.5rem;
            font-size: $small-font-size;
        }
        a {
            color: var(--text);
            text-decoration: none;
        }
    }
}
.post {
    position: relative;
    .post-header {
        text-align: center;
        font-size: xx-large;
        margin-bottom: 0;
    }
    .post-meta {
        margin: 0;
        text-align: center;
        color: var(--meta);
        font-size: $small-font-size;
    }
}
@media screen and (max-width: 48rem) {
    .site-header {
        .site-title,
        .site-nav {
            text-align: center;
        }
    }
}
