<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ site.baseurl }}/main.css">
    <script src="{{ site.baseurl }}/assets/js/check-mode.js"></script>
    <title>{{ site.title }}</title>
</head>

<body>
    <main>
        <header class="site-header">
            <a id="theme-toggle" class="theme-toggle-button" onclick="modeSwitcher()">Light Mode</a>
            <h1 class="site-title" style="padding-top: 35px;"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
            <nav class="site-nav">
                <a href="/about/">About</a>
                <a href="/writings/">Writings</a>
                <a href="/software/">Software</a>
                <a href="/resources/">Resources</a>
                <a href="/music">Music</a>
            </nav>
        </header>
        {{ content }}
    </main>
</body>
<script src="{{ site.baseurl }}/assets/js/change-mode.js"></script>
</html>
